<footer>
  <footer class="footer-section">
    <div class="footer-container container">
      <div class="footer-wrapper">
        <a class="logo" href="./index.html"
          ><svg width="32" height="32">
            <use href="./img/icons.svg#icon-logo"></use></svg
          >CUCINA
        </a>
        <div class="footer-wrapper-mob">
          <div class="footer-wrapper-list">
            <ul class="footer-list">
              <li><a href="">Home</a></li>
              <li><a href="">Store</a></li>
              <li><a href="">Recipes</a></li>
              <li><a href="">Gallery</a></li>
            </ul>

            <ul class="footer-address" id="contacts">
              <li class="footer-address-list">
                <a class="footer-address-link" href="">
                  <svg class="footer-address-icon" width="24" height="24">
                    <use class="" href="./img/icons.svg#icon-location"></use>
                  </svg>
                  Elvia Elviaveien 1, 1234 Oslo</a
                >
              </li>
              <li class="footer-address-list">
                <a
                  class="footer-address-link"
                  href="mailto:willie.jennings@example.com"
                  ><svg class="footer-address-icon" width="24" height="24">
                    <use href="./img/icons.svg#icon-email"></use>
                  </svg>
                  willie.jennings@example.com</a
                >
              </li>
            </ul>
          </div>
          <ul class="footer-media-icons">
            <li>
              <a href="https://www.tumblr.com/"
                ><svg width="24" height="24">
                  <use href="./img/icons.svg#icon-tumblr"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/"
                ><svg width="24" height="24">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/"
                ><svg width="24" height="24">
                  <use href="./img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/"
                ><svg width="24" height="24">
                  <use class="icon" href="./img/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <p class="agreement">
        By using this website, you agree to the
        <a class="links" href="">Terms of Service</a> and
        <a class="links" href="">Privacy Policy</a>
      </p>
    </div>
  </footer>
</footer>
