<!-- Vertical Slider main container -->
<section class="vertical-slides-section" id="store">
  <div class="swiper vertical-swiper-container container">
    <!-- Slides -->
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide-sauces">
        <ul>
          <li class="sauces">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./img/sauces/img1_tab-desk@1x.png 1x,
                  ./img/sauces/img1_tab-desk@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 414px)"
                srcset="
                  ./img/sauces/img1_mob@1x.png 1x,
                  ./img/sauces/img1_mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="sauces-img"
                src="./img/sauces/img1_mob@1x.png"
                alt="Classic sauce"
                width="156"
                height="156"
                loading="lazy"
              />
            </picture>
            <div class="sauces-descr">
              <h3>Classic sauce</h3>
              <p>
                The most delicate taste of tomatoes, combined with branded
                spices and white wine, will make your dish incredibly tasty.
              </p>
              <button class="sauces-btn btn" type="button">Buy now</button>
            </div>
          </li>
          <li class="sauces">
            <div class="sauces-descr">
              <h3>Spicy sauce</h3>
              <p>
                For thrill-seekers, we added hot chili pepper to our sauce, it
                also reveals all the tastes and aromas of the sauce well.
              </p>
              <button class="sauces-btn btn" type="button">Buy now</button>
            </div>
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./img/sauces/img2_tab-desk@1x.png 1x,
                  ./img/sauces/img2_tab-desk@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 414px)"
                srcset="
                  ./img/sauces/img2_mob@1x.png 1x,
                  ./img/sauces/img2_mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="sauces-img"
                src="./img/sauces/img2_mob@1x.png"
                alt="Classic sauce"
                width="156"
                height="156"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
      </div>
      <div class="swiper-slide">
        <ul>
          <li class="sauces">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./img/sauces/img3_tab-desk@1x.png 1x,
                  ./img/sauces/img3_tab-desk@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 414px)"
                srcset="
                  ./img/sauces/img3_mob@1x.png 1x,
                  ./img/sauces/img3_mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="sauces-img"
                src="./img/sauces/img3_mob@1x.png"
                alt="Classic sauce"
                width="156"
                height="156"
                loading="lazy"
              />
            </picture>
            <div class="sauces-descr">
              <h3>Classic sauce</h3>
              <p>
                The most delicate taste of tomatoes, combined with branded
                spices and white wine, will make your dish incredibly tasty.
              </p>
              <button class="sauces-btn btn" type="button">Buy now</button>
            </div>
          </li>
          <li class="sauces">
            <div class="sauces-descr">
              <h3>Spicy sauce</h3>
              <p>
                For thrill-seekers, we added hot chili pepper to our sauce, it
                also reveals all the tastes and aromas of the sauce well.
              </p>
              <button class="sauces-btn btn" type="button">Buy now</button>
            </div>
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./img/sauces/img4_tab-desk@1x.png 1x,
                  ./img/sauces/img4_tab-desk@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 414px)"
                srcset="
                  ./img/sauces/img4_mob@1x.png 1x,
                  ./img/sauces/img4_mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="sauces-img"
                src="./img/sauces/img4_mob@1x.png"
                alt="Classic sauce"
                width="156"
                height="156"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
      </div>
      <div class="swiper-slide">
        <ul>
          <li class="sauces">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./img/sauces/img5_tab-desk@1x.png 1x,
                  ./img/sauces/img5_tab-desk@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 414px)"
                srcset="
                  ./img/sauces/img5_mob@1x.png 1x,
                  ./img/sauces/img5_mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="sauces-img"
                src="./img/sauces/img5_mob@1x.png"
                alt="Classic sauce"
                width="156"
                height="156"
                loading="lazy"
              />
            </picture>
            <div class="sauces-descr">
              <h3>Classic sauce</h3>
              <p>
                The most delicate taste of tomatoes, combined with branded
                spices and white wine, will make your dish incredibly tasty.
              </p>
              <button class="sauces-btn btn" type="button">Buy now</button>
            </div>
          </li>
          <li class="sauces">
            <div class="sauces-descr">
              <h3>Spicy sauce</h3>
              <p>
                For thrill-seekers, we added hot chili pepper to our sauce, it
                also reveals all the tastes and aromas of the sauce well.
              </p>
              <button class="sauces-btn btn" type="button">Buy now</button>
            </div>
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./img/sauces/img6_tab-desk@1x.png 1x,
                  ./img/sauces/img6_tab-desk@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(min-width: 414px)"
                srcset="
                  ./img/sauces/img6_mob@1x.png 1x,
                  ./img/sauces/img6_mob@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="sauces-img"
                src="./img/sauces/img6_mob@1x.png"
                alt="Classic sauce"
                width="156"
                height="156"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>

    <!-- If we need pagination -->
    <!-- <div class="swiper-pagination"></div> -->

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>

<!-- <section>
  <div class="container">
    <h2 hidden>Lorem, ipsum dolor.</h2>
    <ul>
      <li class="sauces">
        <img
          class="sauces-item1"
          src="../img/sauces/img1.png"
          alt="Classic sauce"
          width="349"
          height="349"
        />
        <h3>Classic sauce</h3>
        <p>
          The most delicate taste of tomatoes, combined with branded spices and
          white wine, will make your dish incredibly tasty.
        </p>
        <a href="">Buy now</a>
      </li>
      <li>
        <h3>Spicy sauce</h3>
        <p>
          For thrill-seekers, we added hot chili pepper to our sauce, it also
          reveals all the tastes and aromas of the sauce well.
        </p>
        <a href="">Buy now</a>
        <img
          src="../img/sauces/img2.png"
          alt="Spicy sauce"
          width="349"
          height="349"
        />
      </li>
    </ul>
  </div>
</section> -->
