<section class="video-section" id="recipes">
  <div class="container video-container">
    <h2 hidden>Lorem, ipsum dolor.</h2>
    <ul class="video-list">
      <li class="video-item">
        <!-- <iframe
              width="442"
              height="307"
              src="https://www.youtube.com/embed/VCAyX1qduc8"
              title="Bell pepper pasta"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe> -->
        <video
          class="video"
          src="https://www.youtube.com/embed/VCAyX1qduc8"
          poster="./img/video-section/poster1_tab.jpg"
          width="442"
          controls
          autoplay
          loop
          preload="auto"
        >
          Your browser does not support the <code>video</code> element.
        </video>
        <h3>Bell pepper pasta</h3>
      </li>

      <li class="video-item">
        <!-- <iframe
            width="442"
            height="307"
            src="https://www.youtube.com/embed/ctRo3pmFaKQ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe> -->
        <video
          class="video"
          src="https://www.youtube.com/embed/ctRo3pmFaKQ"
          poster="./img/video-section/poster2_tab.jpg"
          width="442"
          height="307"
          controls
          autoplay
          loop
          preload="auto"
        >
          Your browser does not support the <code>video</code> element.
        </video>
        <h3>Tomato paste</h3>
      </li>
    </ul>
  </div>
</section>
